@import "../helpers/helpers.scss";

.accordion_wrap {
	padding: 1% 0;

	.accordion_title_wrap {
		cursor: pointer;
		width: 100%;

		@extend %f_r_a_center;
		justify-content: space-between;
		gap: 10px;
		padding: 3%;
		background-color: var(--color_primary);
		border: 1px solid var(--border-color);
		transition: var(--transition);

		.arrow_icon {
			width: 20px;
			transition: transform 0.3s ease;
			@extend %f_r_a_center;
			filter: brightness(100);
		}
	}

	.accordion_content_wrap {
		overflow: hidden;

		max-height: 0;
		transition: max-height 0.6s ease, padding 0.3s ease;
		padding: 0;
	}

	&.active {
		.accordion_content_wrap {
			max-height: 500px; // Set a practical max height for animations
			padding: 10px 15px;
		}
		.accordion_title_wrap .arrow_icon {
			transform: rotate(180deg);
		}
	}
}
