@import "../helpers/helpers.scss";

.BlogCard {
	
	.textDiv {
		.date {
			margin: 2% 0;
		}
		.heading {
			margin: 2% 0;
		}
		.readMore {
			@extend %f_r_a_center;
			.Button {
				margin: 0 auto;
			}
		}
	}
}
