@import "../helpers/helpers.scss";
.main_footer {
	padding: 1% 0;

	.nav {
		display: grid;
		grid-template-columns: 300px 1fr;
		align-items: center;

		padding: 2% 0;

		@include sm-down {
			display: grid;
			padding: 8% 5%;
			gap: 10%;

			grid-template: auto / repeat(1, 1fr);
			align-content: center;

			justify-items: center;
		}

		.logo {
		}

		.Links {
			text-align: center;
			display: grid;
			grid-template: auto / repeat(7, 1fr);
			align-items: center;
			@include sm-down {
				grid-template: auto / repeat(2, 1fr);
				text-align: left;
			}
			a {
				display: block;
				margin: 5px 0;
			}
		}
	}

	.footer_wrapper {
		// margin: 0 auto;
		border-top: 1px solid var(--color_secondary);
		// display: grid;
		// grid-template: auto / repeat(3, 1fr);
		// justify-items: center;
		// justify-content: space-between;
		// align-items: center;
		padding: 1% 0;
		@extend %f_r_a_center;
		justify-content: space-between;
		@include sm-down {
			// @extend %f_d_column;
			padding: 10% 0;

			flex-direction: column;
			gap: 20px;
		}

		.social {
			padding: 1%;
			@extend %f_r_a_center;
			gap: 10px;

			.logo {
				padding: 2%;

				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}
