@import "../helpers/helpers.scss";
.main_footer {
	padding: 1% 0;

	.nav {
		display: grid;
		grid-template-columns: 200px 1fr; 
		align-items: center;

		@include sm-down {
			display: grid;
			padding: 5%;
			grid-gap: 10%;
			gap: 10%;
			grid-template: auto / repeat(1, 1fr); 
			align-content: center;
			justify-content: center;
			justify-items: center;
		}

		.logo {
		
		}

		.Links {
			text-align: center;
			display: grid;
			grid-template: auto / repeat(7, 1fr);
			gap: 15px;
			align-items: center;
@include sm-down{
	grid-template: auto / repeat(2, 1fr);
}
			a {
				display: block;
				margin: 5px 0;
			}
		}
	}

	.footer_wrapper {
		margin: 0 auto;
		border-top: 0.5px solid var(--color_white);
		padding: 1% 0;
		display: grid;
		grid-template: auto / repeat(3, 1fr); 
		justify-items: center;
		align-items: center;

		@include sm-down {
			gap: 20px;
			grid-template: auto / repeat(1, 1fr);
			padding: 5%;
		}

		.social {
			padding: 1%;
			@extend %f_r_a_center;
			gap: 10px;

			.logo {
				padding: 2%;

				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}
