@import "../helpers/helpers.scss";

.inner_banner_wrap {
	@extend %relative_box;
	overflow: hidden;
	.banner_image {
		img {
			height: 100% !important;
			width: 100% !important;
			object-fit: cover;
		}
	}
	.banner_content {
		position: absolute;
		bottom: 20%;
		left: 10%;
		@include sm-down {
			bottom: 10%;
			left: 5%;
		}
	}
	.title {
		width: 60%;
		@include sm-down {
			width: 100%;
		}
	}
	.description {
		margin: 2% 0;
		@include sm-down {
			margin: 5% 0;
		}
	}
}
