@font-face {
	font-family: "PlayfairDisplay";
	font-display: swap;
	src: url()
		format("truetype");
}
@font-face {
	font-family: "NunitoSans";
	font-display: swap;
	src: url(../fonts/Nunito-Sans/NunitoSans-Regular.ttf) format("truetype");
}
