@font-face {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/font/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Nunito Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/font/Nunito-sans/NunitoSans-Regular.ttf") format("truetype");
}
