// .text_xxs {}
.text_xxs {
	font-size: 14px;
	line-height: calc(18 / 14);
}
.text_xs {
	font-size: 16px;
	line-height: calc(18 / 14);
}
.text_sm {
	font-size: 18px;
	line-height: calc(18 / 14);
}

// For default body copy font
.text_reg {
	font-size: 20px;
	line-height: calc(28 / 20);

	@include sm-down {
		font-size: 18px;
		line-height: calc(26 / 18);
	}
}

.text_md {
	font-size: 24px;
	line-height: calc(28 / 24);

	@include sm-down {
		font-size: 18px;
		line-height: calc(26 / 18);
	}
}

.text_lg {
	font-size: 56px;
	line-height: calc(45 / 30);

	@include xxl-down {
		font-size: 25px;
	}

	@include sm-down {
		font-size: 18px;
		line-height: calc(26 / 18);
	}
}

.text_xl {
	font-size: 45px;
	line-height: calc(50 / 45);

	@include sm-down {
		font-size: 38px;
		line-height: calc(42 / 38);
	}
}

.text_2xl {
	font-size: 56px;
	line-height: calc(70 / 60);

	@include sm-down {
		font-size: 32px;
		line-height: calc(42 / 38);
	}
}

.text_3xl {
	font-size: 65px;
	line-height: calc(92 / 90);

	@include xxxl-down {
		font-size: 50px;
	}

	@include sm-down {
		font-size: 32px;
		line-height: calc(42 / 38);
	}
}

.text_4xl {
	font-size: 100px;
	line-height: calc(120 / 110);

	@include sm-down {
		font-size: 60px;
		line-height: calc(42 / 38);
	}
}

.text_5xl {
	font-size: 195px;
	// line-height: calc(195 / 195);

	@include sm-down {
		font-size: 45px;
		line-height: calc(55 / 45);
	}
}

// // Each loop for creating font weights ->
// //.text_100, .text_200 .....
// light, reg, med, semibold, bold, extrabold,black
$sizes: 300, 400, 500, 600, 700, 800, 900;

@each $size in $sizes {
	.text_#{$size} {
		font-weight: $size;
	}
}
