@import "../helpers/helpers.scss";

.HomeMostLoved {
	overflow: hidden;
	padding-left: var(--container_left_space);

	.para {
		padding: 2% 0;
	}
	.shoppingCard {
		@extend %f_r_a_center;
		gap: 20px;

		.shoppingDiv {
			padding: 5% 0;
		}
	}
	:global(.swiper-horizontal .swiper-pagination-progressbar) {
		bottom: 0;
		top: auto;
		left: 0;
		width: 100%;
	}
	:global(.swiper-pagination-progressbar-fill) {
		background-color: var(--color_black);
	}
}
