@import "../helpers/helpers.scss";

.HomeFindAStore {
	background-color: var(--color_primary_light);

	.MarqueeWrapper {
		background-color: var(--color_black);
		color: var(--color_white);
		margin-bottom: 6%;
		padding: 1.5% 0;
		@include sm-down {
			margin-bottom: 12%;
		}

		.MarqueeDiv {
			@extend %f_r_a_center;
			gap: 20px;
			.marqueeContainer {
				@extend %f_r_a_center;
				gap: 20px;
				padding: 0 20px;
				width: 30%;
			}
		}
	}

	.wrapper {
		padding: 3% 0;
		@extend %d_flex;
		justify-content: space-between;
		@include sm-down {
			flex-direction: column;
		}
		.ImageDiv {
			width: 50%;
			@include sm-down {
				width: var(--container);
				padding-bottom: 6%;
			}
		}
		.textDiv {
			width: 45%;
			@include sm-down {
				width: var(--container);
			}
			:global(.accordian_wrap) {
				background-color: var(--color_primary);
				margin: 1% 0;
			}
			.contentWrapper {
				background-color: var(--color_primary_light);
				padding: 1%;
				.location {
					padding: 1% 0;
					border-bottom: 1px solid var(--color_primary);

					.country {
					}
					.ShopName {
						padding: 1% 0;
					}
					.address {
					}
				}
			}
			.btnDiv {
				margin-top: 5%;
				@extend %d_flex;
				justify-content: right;
				gap: 10px;
				@include sm-down {
					justify-content: center;
				}
			}
		}
	}
}
