@import "../helpers/helpers.scss";

.HomeFeaturedBlogs {
	.wrapper {
		@extend %f_c_a_center;

		.blogWrapper {
			margin-top: 4%;
			
			width: 100%;
			.mobileGrid {
				display: grid;
				gap: 20px;
				grid-template-columns: 1fr; // One column for mobile
			}
		}
		.button {
			margin: 4% 0;
		}
	}
}
