@import "../helpers/helpers.scss";

.HomeFeaturedBlogs {
	.wrapper {
		@extend %f_c_a_center;
		gap: 20px;
		.blogWrapper {
			margin-top: 4%;

			width: 100%;
			.mobileGrid {
				display: grid;
				gap: 30px;
				grid-template-columns: 1fr;
			}
		}
		.button {
			margin: 4% 0;
		}
	}
}
