@import "../helpers/helpers.scss";

.HomeExploreRich {
	.wrapper {
		@extend %f_r_a_center;
        justify-content: space-between;
		.textDiv {
			width: 40%;
		}
		.imageDiv {
			width: 40%;
		}
	}
}
