@import "../helpers/helpers.scss";

.HomeSignatureScent {
	.wrapper {
		@extend %f_r_aj_center;
		@include sm-down {
			flex-direction: column;
		}
		.textDiv {
			margin: 5% 0;
			p {
				padding-top: 2%;
				padding-bottom: 8%;
			}
		}
		.imageDiv {
			margin: 5% 0;
		}
	}
}
