@import "../helpers/helpers.scss";

.HomeSignatureScent {
	.wrapper {
		@extend %f_r_a_center;
		justify-content: space-between;
		@include sm-down {
			flex-direction: column;
		}
		.textDiv {
			width: 40%;
			margin: 5% 0;
			@include sm-down {
				width: var(--container);
			}
			p {
				padding-top: 4%;
				padding-bottom: 8%;
			}
		}
		.ImageDiv {
			margin: 5% 0;
			width: 60%;
			@include sm-down {
				width: var(--container);
			}
		}
	}
}
